
.Inner_nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .Inner_nav li {
    display: inline-block;
    margin: 0px 20px 0px 0px;
 
  }
  .Inner_nav li a {
    color: white !important;
   
}
#SignUp_Main_Section .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-image: -webkit-linear-gradient(0deg,#ef155e 0,#ff4c4d 100%);
    border-radius: .3rem;
}
#SignUp_Main_Section h4{
    color: white;
    font-family: Lemonada;
    font-weight: bold;
}

.SignIn
{
  color: #fff !important;
    background-image: -webkit-linear-gradient(0deg,#ef155e 0,#ff4c4d 100%);
    border-color:white !important;
    box-shadow: none !important;
    width: 100%;
}
.SignIn:hover {
  color: #EFA421 !important;
  background-color: #fff !important;
  border-color: #fff !important;
}
.SignIn:not(:disabled):not(.disabled).active, .SignIn:not(:disabled):not(.disabled):active, .show>.SignIn.dropdown-toggle {
  color: #EFA421 !important;
  background-color: #fff !important;
  border-color: #fff !important;
  box-shadow:#EFA421 !important;
}
.SignUp_Form_Section
{
  text-align: center;
  padding: 3rem;
  margin: 3rem;
}


.form-control:focus {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: unset !important;
    outline: 0 !important;
    box-shadow: unset !important;
}
.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #727a84;
  border-color: #EFA421;
}


.Sign_up_Text
{
  padding-top: 20px;
  font-family: Lemonada;
  cursor: pointer;
  color:  #171b20!important;
}


/* Media Query */

@media only screen and (min-width: 360px) and (max-width: 640px) {
  .SignUp_Form_Section
{
  text-align: center;
  padding:20px;
  margin: 0px;
}


}

@media only screen and (min-width: 320px) and (max-width: 568px) {

  .SignUp_Form_Section
  {
    text-align: center;
    padding:20px;
    margin: 0px;
  }
  
  
  }