
.Inner_nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .Inner_nav li {
    display: inline-block;
    margin: 0px 20px 0px 0px;
  }
  .Inner_nav li a {
    color: white !important;
}
#ForgetPassword_Main_Section .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #fc4250 !important;
    border-radius: .3rem;
}
#ForgetPassword_Main_Section h4{
    color: white;
    font-family: Lemonada;
    font-weight: bold;
}
.ForgetPassword_Section
{
  text-align: center;
  padding: 3rem;
  margin: 3rem;
}
.ForgetPassword_Section h3{
  font-family: Lemonada;
  padding-bottom: 10px;
}
.ForgetPassword_Section p{
  font-size: 14px;
  padding-bottom: 10px;
}


.form-control:focus {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: unset !important;
    outline: 0 !important;
    box-shadow: unset !important;
}
.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #727a84;
  border-color: #fc4250;
}


.Cancel_Text
{
  padding-top: 20px;
  font-family: Lemonada;
  cursor: pointer;
  color:  #171b20!important;
  padding-top: 20px;
}


/* Media Query */

@media only screen and (min-width: 360px) and (max-width: 640px) {
  .ForgetPassword_Section
{
  text-align: center;
  padding:20px;
  margin: 0px;
}


}


@media only screen and (min-width: 320px) and (max-width: 568px) {
  .ForgetPassword_Section
{
  text-align: center;
  padding:20px;
  margin: 0px;
}
.ForgetPassword_Section h3 {
  font-family: Lemonada;
  padding-bottom: 10px;
  font-size: 16px;
}

.SignIn_Form_Section {
  text-align: center;
  /* padding: 3rem; */
  /* margin: 3rem; */
}


}