.My_Account_Profile_Details
{
    padding: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    /* display: flex; */
    align-items: center;
    border-radius: .25rem;
    background-color: #efe7e7;
}
.Personal_Information_Heading h6{
    padding-bottom: 10px;
}